.boxs{
    .b_wrap{
        border: 1px solid #d7b312;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 #ffb11f;
    }
}


    // .cards{
    //     .card-bottom{
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //     }
    // }